<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAro4DjxwFq3cEWnD0AZGfJ8aL1zETSpBA</string>
	<key>GCM_SENDER_ID</key>
	<string>551113456792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StenioLima.chatappwithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-app-swiftui-3a077</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-swiftui-3a077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551113456792:ios:f5b3961fb8db23426e24ed</string>
</dict>
</plist>